.route-header {
    height: 50px;

    color: black;
    background-color: darkgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.route-header-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    padding-right: 20px;
}

.route-header-short-name {
    padding-right: 10px;
}

.route-header-short-name:after {
    padding-left: 10px;
    content: "-";
}

.route-header-long-name {
    text-transform: capitalize;
}